<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />

  <title>Hello, world!</title>
</head>

<body>
  <div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="
            d-flex
            align-items-center
            mb-3 mb-md-0
            me-md-auto
            text-dark text-decoration-none
          ">
        <svg class="bi me-2" width="40" height="32">
          <use xlink:href="#bootstrap"></use>
        </svg>
        <span class="fs-4">My blog </span>
      </a>
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="/blog/" class="nav-link">News</a></li>
      </ul>
    </header>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-3">

        <div class="list-group">
          {% for category in categories%}
          <a href="/blog/category/{{category.id}}" class="list-group-item list-group-item-action">{{category.title}}</a>
          {%endfor%}
        </div>
      </div>
      <div class="col-9">
        <div class="row">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>
  </div>
  </div>

</body>

</html>